*{
    padding: 0;
    margin: 0;
    font-style: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 35px auto 70px;
    display: flex;
    background: linear-gradient(135deg,#965183,#4d5e57);
    padding: 10px;

}
.todo{
    width: 100%;
    max-width: 540px;
    background: #807c7c;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #000;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    background: #baecd7;
    align-items: center;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 25px;
}
input{
    flex: 1;
    border: #000;
    outline: #000;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: #000;
    outline: none;
    padding: 16px 50px;
    background: #ff5dff;
    color: #fff;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
}
ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.done{
    color: #555;
    text-decoration: line-through;

}
ul li.done::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #ff5dff;
}
@media only screen and (max-width: 600px){
    .todo{
        margin-top: 100%;
        font-size: 16px;
    }
    .todo h2{
        font-size: 30px;
        
    }
}
